*{
    margin:0px;
    padding: 0px;
}
.container{
    width: 1200px;
    height: 1000px;
    margin:0 auto;
}
.box{
    float: left;
    width: 25%;
    height: 300px;
    background-color: chocolate;
    border: 1px solid #000;
    box-sizing: border-box;
}
@media all and (max-width:1200px){
    .container{
        width: 100%;
    }
}
@media all and (max-width: 768px) {
    .box{
        width: 50%;
    }
}
@media all and (max-width:550px){
    .box{
        width: 90%;
        margin-left: 5%;
        margin-top: 30px;
    }
    .box:nth-child(odd){
        background-color:aquamarine;
    }
}