*{
    margin:0;
    padding:0;
}
.row{
    margin-top: 10px;
}
input:hover{

}
input:focus{
    outline: none;
}
.myinput{
    transition: all 0.5s;
}
.myinput:valid{
    border: 1px solid green;
}
.myinput:invalid{
    border: 1px solid red;
}
.error{
    opacity: 0;
    font-size: 8px;
    color: red;
    transition: all 0.5s;
}
.myinput:invalid~.error{
    opacity: 1;
}
.myinput[type='checkbox']:checked~.checkboxischecked{
    opacity: 1;
}
.checkboxischecked{
    opacity: 0;
    color: green;
}
.myinput:disabled{
    background-color: #000;

}
.myinput[type='email']::placeholder{
    color: #fff !important;
}
form[action='http://websila.ir']{
    background-color: greenyellow;
}
.mytestp:hover{
    background-color: #aaa;
}
.mytestp::first-line{
    background-color: red;
}
.class202 li::after{
    content: ' - 202';
}
li{
    list-style-type: none;
    list-style-position: inside;
    line-height: 20px;
    height: 20px;
    margin-top: 5px;
}
li::before{
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../images/tick.png");
    background-size: contain;
    background-position: center;
    vertical-align: middle;
    margin-right: 5px;
}
.star-six {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid blue;
    position: relative;
}
.star-six:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid blue;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
}
form .row:nth-child(3){

}
.row:nth-child(even){
    background-color: darkred;
}