.ali{
    color:red;
    text-align:center;
}
#reza{
    color:green;
    text-align:center;
}
h1{
    color:blue;
    font-size:12px;
}
h6{
    font-size:40px;
}
.red-button{
    background-color: red;
    color:#fff;
    border: 1px solid #000;
    border-radius: 0px;
    width:200px;
    height:30px;
    line-height: 30px;
    font-family: Tahoma;
    margin:20px;
}
.blue-button{
    background-color: blue;
    color:#fff;
    border: 1px solid #000;
    border-radius: 0px;
    width:200px;
    height:30px;
    line-height: 30px;
    font-family: Tahoma;
    margin:20px;
}
body{
    background-color:#aaa;
}
.my-shadow{
    box-shadow: 5px 5px 5px yellow;
}

